<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #A9D7BF;">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="../../../assets/imgs/logos/taskapplogo.png" height="60px" width="60px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">{{ 'HOME_PAGE' | translate }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ 'SELECT_LANGUAGE' | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div *ngFor="let language of languages">
                <li *ngIf="language.abbreviation !== currentLanguage">
                  <a class="dropdown-item" (click)="changeLanguage(language.abbreviation)">
                    <img class="lang-img" [src]="language.iconPath"> {{ language.name | translate }}
                  </a>
                </li>
              </div>
            </ul>
          </li>
        </ul>
        <ul *ngIf="!userLoggedIn" class="navbar-nav mr-auto mb-5 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/login']">{{ 'LOGIN_PAGE' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']">{{ 'REGISTER_PAGE' | translate }}</a>
            </li>
        </ul>
        <ul *ngIf="userLoggedIn" class="navbar-nav mr-auto mb-5 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/profile']">{{ 'PROFILE_PAGE' | translate }}</a>
          </li>
          <img [routerLink]="['/profile']" class="profile-img" *ngIf="user.photoUrl" [src]="user.photoUrl" alt="Profile picture">
      </ul>
      </div>
    </div>
  </nav>